* {
  font-family: sans-serif;
}
body {
  background-color: cornflowerblue;
}
input {
  width: 45%;
  height: 25px;
  border-radius: 15px;
  padding: 2px;
  padding-left: 10px;
  border: none;
  border-style: none;
}

select {
  width: 30%;
  height: 25px;
  border-radius: 15px;
  padding: 2px;
  padding-left: 10px;
  border: none;
  border-style: none;
  background-color: rgb(253, 253, 253);
}

button {
  display: inline-block;
  padding: 6px 15px;
  color: #fff;
  background-color: #117a13;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

/* .searchheadr{
    position: fixed;
    top: 0;
    left: 0;
} */

#serachform {
  margin-top: 15px;
  margin-left: 30%;
  gap: 10px;
}

.weather_details {
  margin-top: 10px;
  gap: 10px;
}

#city_detail {
  margin: 5px;
  background-color: darkgoldenrod;
  padding: 5px;
  padding-left: 10px;
  border-radius: 10px;
  color: white;
}

#filter {
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: 8px;
  gap: 10px;
  border-style: solid;
  padding: 10px;
  display: block;
  justify-content: center;
  text-align: center;
  /* width: 95%; */
  background-color: black;
  border-radius: 10px;
}

#weather_dtls,
#filterd_data {
  color: #fff;
  /* background-color: rgb(15, 130, 230); */
  display: grid;
  grid-template-rows: repeat(4, 400px);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* we set the auto-fit property and minmax to amke it responsive */
  grid-gap: 10px;
}

.daycard {
  background-color:brown;
  border-style: solid;
  border-color: white;
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  justify-content: center;
  border-radius: 10px;
  color: white;
}
.daycard:hover {
  transform: scale(1.05);
}
